<?xml version="1.0" ?>
<model>
    <name>Lep</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Igor Lebedev</name>
        <email>igorlevedev@gmail.com</email>
    </author>
    <description>
    	Model LEP by Anton Yanin and lebedev Igor
    </description>
</model>
